<div class="cloudinary-resource cloudinary-resource-type--{{ resource.resourceType }}">
    <a href="{{ resource.secureUrl }}" target="_blank">
        {{ resource.getThumbnail()|raw }}
    </a>
</div>