<div class="cloudinary-resource cloudinary-resource-type--{{ resource.resourceType }} cloudinary-resource-format--{{ resource.format }}">
    <a href="{{ resource.secureUrl }}" target="_blank">
        {{ resource.getThumbnail()|raw }}
    </a>
</div>